{% extends 'base.html' %}
{% load humanize %}

{% block title %}Detail | {{ block.super }}{% endblock title %}

{% block content %}

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">

            {% include 'videos/snippets/../../../videos/templates/videos/snippets/video_search_form.html' with request=request %}
                <br>

            <div class="row">
                <h1>Please purchase to continue</h1>
                <div class="col-sm-12">
            <hi>{{ object.title }}</hi>

            {{ object.description|linebreaks }}

            {% if not object.is_owner %}
                <a href="{{ object.get_purchase_url }}">Purchase</a>
                {{ object.display_price }}
            {% endif %}
                <br>
                </div>
            </div>

            </div>
        </div>

{% endblock %}