{% extends 'base.html' %}

{% block title %}List | {{ block.super }}{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-sm-8 col-sm-offset-1">

        {% include 'videos/snippets/video_search_form.html' with request=request %}

        {% if request.GET.q %}
            <p>You searched for <b>{{ request.GET.q }}</b></p>
        {% endif %}

        <ul>
            {% for item in object_list %}
                <li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>

                {% empty %}
                <li>No items found.</li>

            {% endfor %}
        </ul>

        </div>
    </div>

{% endblock %}